h3 Hello !
p #{user.first_name} #{user.surname} sent you an invitation to account #{account.name} on Plan on Plan platform. To join team, please sign up by using link below.  

br
a(href="http://#{config.DOMAIN}#{config.REGISTER}?email=#{email}") Register
br

p Best regards
p Plan on plan Team
