//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

- var address = function (address) { return (address.company ? address.company + ", " : "") + address.address_line_1 + ", " + (address.address_line_2 ? address.address_line_2 + ", " : "") + address.city + ", "+ address.postal_code };

p Hi #{carer.carer.first_name},

p Unfortunately, #{care_home.care_home.care_service_name} has cancelled the following job that you were scheduled for: #{moment(job.start_date).format("YYYY-MM-DD")}, #{moment(job.start_date.getTime()).format('h:mm A')} to #{moment(job.end_date.getTime()).format('h:mm A')} at #{address(care_home.address)}

p This job has been removed from your list

p You can log back into the app and find other jobs

include _footer
