//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

p Good news! #{user.carer.first_name} has accepted your shift.
p #{user.carer.first_name} #{user.carer.surname} – profile summary: #{user.carer.care_experience.years > 0 ? user.carer.care_experience.years : ""} #{user.carer.care_experience.years == 0 ? "" :user.carer.care_experience.years == 1 ? 'year' : 'years'} #{user.carer.care_experience.years > 0 && user.carer.care_experience.months > 0 ? 'and' : ""} #{user.carer.care_experience.months > 0 ? user.carer.care_experience.months : ''} #{user.carer.care_experience.months == 0 ? "" : user.carer.care_experience.months == 1 ? 'month' : 'months'} experience, Rating: #{user.carer.reviews.amount > 0 ? user.carer.reviews.average + " out of 5" : "No reviews so far"}

p If you are unhappy with this carer, login to the site, find your job and click 'find me a different carer'. You may also cancel this job up to 24 hours before it is due to start, free-of-charge. Thereafter, if you cancel a job and it has been more than 2 hours since it was accepted, you will be charged 50% of the job fee.

include _footer